logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    color: #37352F;
}

.flex-recipes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.flex-recipes div {
}

.flex-recipes div img{
    width: 300px;
    height: 150px;
    object-fit: cover;
}

.flex-recipes div a {
    display: block;
    font-size: large;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #37352F;
    font-weight: 600;
}
